:root {
    --star-size: 25px;
    --star-color: hsl(0, 0%, 100%);
    --star-background: hsl(48, 100%, 50%);
    --white: hsl(0, 0%, 100%);
    --green: hsl(120, 100%, 33%);
    --red: hsl(0, 100%, 50%);
    --red-light: hsl(0, 100%, 85%);
    --blue-bkg: hsl(214, 21%, 55%);
    --blue-light: hsl(207, 100%, 81%);
    --blue-dark: hsla(214, 91%, 25%, 0.8);
    --gray: hsla(0, 0%, 100%, 0.4);
}

/* Header styles */
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
}
.bt-header {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    cursor: pointer;
}
.shopping-cart {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--green);
}
.shopping-cart:hover {
    background-color: var(--green);
}
.header-config{
    display: flex;
    justify-content: end;
    align-items: center;
    width: auto;
}

.add-product{
    height: 50px;
    width: 50px;
    border: 1px solid var(--red);
    background: var(--red);
    font-size: 35px;
}
.bt-logout, .bt-login-home {
    font-family: 'Roboto', sans-serif;
    height: 25px;
    background: none;
    border: none;
    font-size: 16px;
    width: 70px;
}
.bt-logout:hover, .bt-login-home:hover {
    color: var(--blue-bkg);
}
/* Breadcrumbs */

.breadcrumbs {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 220px;
}
.bt-breadcrumbs {
    width: fit-content;
    height: 21px;
    border-radius: 15px;
    border: none;
    padding: 2px 10px;
    background-color: var(--blue-bkg);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.icon {
    width: 15px;
    height: 20px;
    padding-left: 5px;
    font-size: 14px;
    line-height: 0.4 !important;
    padding-top: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

/* Sidebar styles */
.sidebar{
    width: 200px;
    height: 100%;
    margin-left: 20px;
}
.sidebar ul {
    padding-left: 0;
    margin: 0
}
.sidebar-list {
    padding: 15px 0;
    cursor: pointer;
}
.sidebar-list:hover{
    font-weight: bold;
    font-size: 18px;
}

/* Product Resume */
.container-product {
    flex: 3 0px;
}
.product-resume-card {
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
.border-bottom-dashed {
    border-bottom: 1px dashed var(--blue-bkg);
}
.image-product {
    width: 20%;
}
.image {
    width: 100%;
    min-width: 100px;
    max-width: 350px;
    height: auto;
    max-height: 150px;
    object-fit: cover;
    object-position: center;
    border: 1px dashed var(--gray);
}
.product-body{
    width: 75%;
    display: flex;
    flex-flow: row nowrap;
    gap: 25px;
    align-items: center;
}
.product-details {
    width: 85%;
}
.title {
    margin-top: 0;
    color: var(--blue-light);
}
.linkTo {
    cursor: pointer;
}
.linkTo:hover {
    text-decoration: underline;
}
.product-details p > span {
    color: var(--blue-light);
}
.model {
    margin-left: 20px;
}

.product-price{
    line-height: 12vw;
    flex: 1 175px;
    border: 1px dashed var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue-bkg);
}
.price{
    font-weight: bold;
    font-size: 2em;
}

/* stars rating */
.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
    margin-bottom: 20px;
    
}
.stars:before {
  content: '★★★★★';
  letter-spacing: 3px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Product detail container*/
.product-detail-container { 
    background-color: var(--blue-dark);;
    color: var(--white);
    padding: 0 20px;
}

.cart {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#cart {
    height: 30px;
    margin-left: 10px;
    border: none;
    background-color: var(--blue-bkg);
    border-radius: 3px;
    border: 1px solid var(--gray);
    color: var(--white);
}
option {
    background-color: var(--white);
    color: var(--blue-dark);;
}
.icon-cart {
    border: 1px solid var(--white);
    margin-left: 20px;
    padding: 5px;
    background-color: var(--blue-bkg);
}
.icon-cart:hover {
    color: var(--blue-dark);
    border-color: var(--blue-dark);;
}
/* Shopping cart*/
.price-details{
    width: 100%;
    text-align: center;
    line-height: 20px;
    border-bottom: 1px dashed var(--gray);
}
.totalPrice {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.delete-contain {
    width: 75%;
    text-align: end;
    margin-left: calc(20% + 25px);
}
.bt-delete {
    font-family: 'Roboto', sans-serif;
    border: 1px solid var(--red);
    border-radius: 15px;
    background-color: var(--red);
    color: var(--white);
    height: 25px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;

}
.bt-delete:hover {
    background: var(--red-light);
    border-color: var(--red-light);
}
.totalOrderPrice {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    border: 1px dashed var(--gray);
    background-color: var(--blue-bkg);
}

.bt-payment {
    width: 100%;
    margin: 20px 0;
    height: 60px;
    border-radius: 0;
    font-size: 2em;
    cursor: pointer;
    color: var(--white);
    background-color: var(--green);
    border: none;
}