@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&family=Rubik+Mono+One&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --blue-dark: hsla(214, 91%, 25%, 0.8);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container {
  display: flex; 
  background-color: var(--blue-dark);
  color: var(--white);
  flex-flow: row wrap;
  padding: 0 20px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.h-100 {
  min-height: 100vh;
  height: 100%;
}

.mr-30 {
  margin-right: 30px;
}
.pb-20 {
  padding-bottom: 20px;
}

li {
  list-style: none;
}
.white {
  color: var(--white);
}
.hide {
  display: none;
}
.pointer{
  cursor: pointer;
}
.font-size-20 {
  font-size: 20px;
}
.inline-table {
  display: inline-table;
}